//Block1
$colorA1: #114e4e;
$colorB1: #438792;
$colorC1: #a2deaf;

//Block2
$colorA2: #420101;
$colorB2: #bd1010;
$colorC2: #e95626;

//Block3
$colorA3: #3e5b65;
$colorB3: #eab052;
$colorC3: #a0c0cf;

.color {
  &A {
    &1 {background-color: $colorA1;}
    &2 {background-color: $colorA2;}
    &3 {background-color: $colorA3;}
  }
  &B {
    &1 {background-color: $colorB1;}
    &2 {background-color: $colorB2;}
    &3 {background-color: $colorB3;}
  }
  &C {
    &1 {background-color: $colorC1;}
    &2 {background-color: $colorC2;}
    &3 {background-color: $colorC3;}
  }
}

.icon {
  &-light {color: $text-index-title;}
  &-dark {color: $text-index-subtitle;}
  &-medium {color: $text-icon;}
}

.preview__text .text {
  &1 {color: $colorA1;}
  &2 {color: $colorA2;}
  &3 {color: $colorA3;}
}

.preview__links--icon.js-icons.icon {
  &1 {color: $colorA1;}
  &2 {color: $colorA2;}
  &3 {color: $colorA3;}
}

.preview__links--social.js-border.border-icon {
  &1 {border: solid 2px $colorC1;}
  &2 {border: solid 2px $colorC2;}
  &3 {border: solid 2px $colorC3;}
}

.preview__text.js-borderleft.border-text {
  &1 {border-left: solid 5px $colorB1;}
  &2 {border-left: solid 5px $colorB2;}
  &3 {border-left: solid 5px $colorB3;}
}

