<footer class="footer">
    <div class="footer__container">
        <section class="footer__copy">
            u
            <span class="required">·</span>n
            <span class="required">·</span>d
            <span class="required">·</span>e
            <span class="required">·</span>f
            <span class="required">·</span>i
            <span class="required">·</span>n
            <span class="required">·</span>e
            <span class="required">·</span>d &copy; 2021
        </section>
    </div>
    <section class="footer__logo">
        <a href="https://adalab.es/" target="_blank"><img class="img" src="./assets/images/logo-adalab.png" alt="Logo Adalab"/></a>
    </section>
</footer>