//Bloque1
$color1a: #114e4e;
$color1b: #438792;
$color1c: #a2deaf;

//Bloque2
$color2a: #420101;
$color2b: #bd1010;
$color2c: #e95626;

//Bloque3
$color3a: #3e5b65;
$color3b: #eab052;
$color3c: #a0c0cf;


/* // Create our color scheme map
$colorBlock: (
  first: (
    color1a: #3197D6,
    color1b: #DAF1FF,
    color1c: #1F5E89,
  )
);
 */


.form__input--color {
    width: 30px;
    height: 25px;   
}

.color1a {
    background-color: $color1a;
}

/* @mixin colorBlock ($colorNumber){
    .color1a {
        background-color: $color1a;
    }
    .color1b {
        background-color: $color1b;
    }
    .color1c {
        background-color: $color1c;
    }

} */

// @mixin colorBlock($color: first) {
//     @if ($scolor == first) {
//         background-color: $color1a;
//     }
//     @if ($scolor == second) {
//         background-color: $color1b;
//     }
    
// }

$colorMap: (
    first: ".color-a",
    second: ".color-b",
    third: ".color-c"
)
/* 
@mixin colorBlock($firstColor, $secondColor, $ThirdColor, $colorPosition) {
    .color {
        .{$colorPosition} {
            background-color: $firstColor;
        }
    }

} */