// fonts
$font-index-title: "Merriweather Sans", sans-serif;
$font-index-subtitle: "Open Sans", sans-serif;
$font-card-title: "Montserrat", sans-serif;

//colors
$background-index: #f5f5f5;
$text-index-title: #e17334;
$text-index-subtitle: #114e4e;
$background-button: #438792;
$text-button: #ffffff;
$background-footer: #d8d8d8;
$copy-text: #6b6b6b;
$text-icon: #54585a;
$background-header: #ffffff;
$input-border: #a2deaf;
$placeholder-color: #c5c5c5;
$disabled-button: #d5d5d5;
$twitter-button: #00a0f5;
