<fieldset class="form__design">
  <legend class="form__title js-design__title">
    <ul>
      <i class="form__title--icon icon-light far fa-object-ungroup"></i>
    </ul>
    <h2 class="form__title--text">Diseña</h2>
    <ul>
      <i class="form__title--chevron icon-medium far fa-chevron-up"></i>
    </ul>
  </legend>
  <div class="form__design--wrapper">
    <label for="chooseColor" class="form__label form__label--color"
      >Colores</label
    >
    <div class="form__input--wrapper">
      <include src="./design/palette.html" num="1" checked="checked"></include>
      <include src="./design/palette.html" num="2"></include>
      <include src="./design/palette.html" num="3"></include>
    </div>
  </div>
</fieldset>
