.footer {
  background-color: $text-button;
  font-family:$font-index-subtitle;
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 45px;
  border-top: 1px solid #b8b8b9;
  @media (min-width: 768px){
    display: flex;
    justify-content: space-around;
    

  }
    
  
  &__copy {
    display: flex;
    justify-content: center;
    font-size: 14px;
    opacity: 0.5;
    color:$copy-text;
  }

  &__logo {
    /*text-align: center;*/
    margin-top: 30px;
    width: 50%;
    /*margin: 12px 47px 0 48px;
    padding-left: 60px;*/
    

    .img {
      width: 115px;
      height: 45px;
      display: flex;
      justify-self: flex-end;
      
    }
    @media (min-width:768px){
      display: flex;
      justify-content: flex-end;
    }
  }
}
