// //Revisar PAULA

// .form {
//   &__design {
//     &--wrapper {
//       display: flex;
//       justify-content: space-between;
//       padding: 22px 0 10px;
//     }
//   }
//   &__title {
//     width: 100%;
//     padding: 10px 0;
//     border-bottom: 1px solid black;
//     &--icon {
//       display: inline;
//       font-size: 18px;
//     }
//     &--design {
//       display: flex;
//       justify-content: space-between;
//     }
//   }
//   &__label {
//     &--color {
//       padding-left: 19px;
//     }
//   }
//   &__input {
//     &--wrapper {
//       display: flex;
//       flex-direction: column;
//     }
//     &--color {
//       width: 30px;
//       height: 25px;
//       &--wrapper {
//         display: flex;
//       }
//       &--palette {
//         display: flex;
//         margin-bottom: 20px;
//         margin-left: 10px;
//       }
//     }
//   }
// }

//OK ESTHER
.form {
  padding: 20px;
  width: 100%;
  @include tablet {
    padding-left: 0;
  }
  @include desktop {
    flex: 0.5;
  }
  &__design {
    border-bottom: solid 1px $background-footer;
    &--wrapper {
      display: flex;
      justify-content: space-between;
      padding: 22px 0 10px;
    }
  }
  &__fill {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px $background-footer;
    &--wrapper {
      padding-top: 18px;
    }
  }
  &__share {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: solid 1px $background-footer;
  }
  &__title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 7px;

    &--text {
      width: 100%;
      font-family: $font-index-subtitle;
      font-size: 18px;
      font-weight: 600;
      color: $text-icon;
      text-transform: uppercase;
      text-align: left;
      line-height: 24px;
      padding-left: 10px;
    }
    &--icon {
      font-size: 18px;
      line-height: 24px;
      color: $text-index-title;
    }
    &--chevron {
      font-size: 18px;
      color: $text-icon;
      line-height: 24px;
    }
  }
  &__label {
    font-family: $font-index-subtitle;
    font-size: 14px;
    font-weight: 400;
    color: $text-index-subtitle;
    line-height: 20px;
  }
  &__input {
    box-sizing: border-box;
    width: 100%;
    border: solid 1px $input-border;
    height: 30px;
    margin-top: 7px;
    margin-bottom: 20px;
    &::placeholder {
      font-family: $font-index-subtitle;
      font-size: 14px;
      color: $placeholder-color;
      line-height: 20px;
      padding-left: 9px;
    }
    &--wrapper {
      display: flex;
      flex-direction: column;
    }
  }
  &__radio {
    &--color {
      width: 30px;
      height: 25px;
      &--wrapper {
        display: flex;
      }
      &--palette {
        display: flex;
        margin-bottom: 20px;
        margin-left: 10px;
      }
    }
  }
  &__submit {
    background-color: $text-index-title;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 199px;
    padding: 13px 18px 13px 18px;
    border-radius: 12px;
    border: 0;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    font-family: $font-index-subtitle;
    font-size: 18px;
    font-weight: 600px;
    line-height: 24px;
    color: $background-header;
    text-transform: uppercase;
    margin-top: 17px;
    margin-bottom: 30px;

    &--icon {
      font-size: 22px;
      color: $background-header;
      line-height: 24px;
    }
  }
}

// JAVASCRIPT

.collapsed .form__submit,
.collapsed .form__fill--wrapper,
.collapsed .form__design--wrapper {
  display: none;
}

.collapsed .form__title--chevron {
  transform: rotate(180deg);
}
