.header {
  background-color: $background-header;
  width: 100vw;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;

  @include tablet {
    justify-content: left;
  }
}

.image_header {
  width: 200px;
  height: 50px;

}
