.header {
  background-color: $background-header;
  width: 100vw;
  height: 111px;
}

.image_header {
  width: 100vw;
  height: 50px;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: center;

  @include tablet {
    transform: translate(-30%);
    padding: 15px 0 15px 0;
  }
  @include desktop {
    transform: translate(-40%);
    padding: 15px 0 15px 0;
  }
}
