.container {
  width: 100%;
  height: 457px;
  background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
}
.card__preview {
  .preview__reset {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    order: 1;
    width: 75px;
    height: 30px;
    border: solid 1px white;
    border-radius: 15px;
    background-color: transparent;
    margin: 38px auto 0 45px;

    &--icon {
      order: -1;
      color: #54585a;
      font-size: 12px;
    }
  }
}

.card__preview--default {
  width: 240px;
  height: 329px;
  margin: 20px 35px 40px 45px;
  background-color: #fff;
  box-shadow: 0 1px 10px 0 var(--black-20), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  .preview__text {
    font-family: $font-card-title;
    outline: 1px solid red;
    border-left: solid 5px #438792;
    &--name {
      margin-left: 20px;
      font-weight: 700;
      color: $text-index-subtitle;
      padding-top: 21px;
      padding-bottom: 4px;
    }
    &--role {
      margin-left: 20px;
      font-weight: 400;
      color: $text-icon;
      margin-top: 4px;
    }
  }
  .preview__image {
    width: 240px;
    height: 200px;
    background-image: url("https://www.fillmurray.com/240/200");
    margin-top: 10px;
  }
  .preview__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px auto 12px 20px;
    &--social {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      border: solid 2px #a2deaf;
      margin-right: 10px;
    }
    &--icon {
      color: $text-index-subtitle;
      font-size: 18px;
      text-align: center;
      margin-top: 6px;
      margin-left: 6px;
    }
  }
}
