<fieldset class="form__share collapsed">
  <legend class="form__title js-share__title">
    <i class="form__title--icon fas fa-share-alt"></i>
    <h2 class="form__title--text">Comparte</h2>
    <i class="form__title--chevron icon-medium far fa-chevron-down"></i>
  </legend>
  <div class="form__share--wrapper">
    <button class="form__submit js-submit" type="submit" disabled>
      <i class="form__submit--icon far fa-address-card"></i>crear tarjeta
    </button>
    <a class="js-link-card" target="_blank" title="URL card"></a>
    <div class="js-twitter"></div>
  </div>
</fieldset>