<fieldset class="form__design">
    <legend class="form__title">Diseña</legend>
    <label for="chooseColor1" class="form__label">
        <input class="form__input" type="radio" name="chooseColor" id="chooseColor1" value="color1">
        Color 1
        <div class="form__input--wrapper">
            <div class="form__input--color color1a"></div>
            <div class="form__input--color color1b"></div>
            <div class="form__input--color color1c"></div>
        </div>
    </label>
    <label for="chooseColor2" class="form__label">
        <input class="form__input" type="radio" name="chooseColor" id="chooseColor2" value="color2">
        Color 2
    </label>
    <label for="chooseColor3" class="form__label">
        <input class="form__input" type="radio" name="chooseColor" id="chooseColor3" value="color3">
        Color 3
    </label>
</fieldset>