<fieldset class="form__share collapsed">
  <legend class="form__title js-share__title">
    <i class="form__title--icon fas fa-share-alt"></i>
    <h2 class="form__title--text">Comparte</h2>
    <i style="cursor:pointer;" class="form__title--chevron icon-medium far fa-chevron-down"></i>
  </legend>
  <div class="form__share--wrapper">
    <button style="cursor:pointer"class="form__submit js-submit" type="submit" disabled>
      <i class="form__submit--icon far fa-address-card"></i>crear tarjeta
    </button>
    <p class="js-text-error text__error"></p>
    <div class="js-link-card form__card"></div>
    <div class="js-twitter form__twitter"></div>
  </div>
</fieldset>
