<section class="container">
    <div class="card__preview">
        <button class="card__preview--reset" type="reset">Reset<i class="far fa-trash-alt card__reset--icon"></i>
        </button>

        <div class="card__preview--default">
            <div class="preview--text">
                <h3 class="h3--card">Nombre Apellido</h3>
                <h4 class="h4--card">Front-End Developer</h4>
            </div>
            <div class="card__image--default"></div>
            <div class="card__links--section">
                <a href="#" class="social--links" title="Phone"><i class="fas fa-mobile-alt social--icon"></i>
                </a>
                <a href="#" class="social--links" title="Email"><i class="far fa-envelope social--icon"></i>
                </a>
                <a href="#" class="social--links" title="Linkedin"><i class="fab fa-linkedin-in social--icon"></i>
                </a>
                <a href="#" class="social--links" title="GitHub"><i class="fab fa-github-alt social--icon"></i>
                </a>
            </div>
        </div>

    </div>
</section>
<include src="./form.html"></include>