<section class="container">
    <div class="card__preview">
        <button class="card__preview--reset">Reset<i class="far fa-trash-alt card__reset--icon"></i>
        </button>

        <div class="card__preview--default">
            <div class="card__preview--text">
                <h3 class="h3--card">Nombre Apellido</h3>
                <h4 class="h4--card">Front-End Developer</h4>
            </div>
            <div class="card__image--default"></div>
            <div class="card__links--section">
                <a class="social" title="Phone">
                </a>
                <a class="social" title="Email">
                </a>
                <a class="social" title="Linkedin">
                </a>
                <a class="social" title="GitHub">
                </a>
            </div>
        </div>

    </div>
</section>
<include src="./form.html"></include>