<section class="section__cards">
  <div class="card__preview">
    <button
      style="cursor: pointer"
      class="preview__reset js-reset"
      type="reset"
    >
      <p class="preview__reset--text">Reset</p>
      <i class="far fa-trash-alt preview__reset--icon"></i>
    </button>
    <div class="card__preview--default">
      <div class="preview__text js-borderleft">
        <h3 class="preview__text--name js-preview-name">Nombre Apellido</h3>
        <h4 class="preview__text--role js-preview-job">
          Front-End Developer
        </h4>
      </div>
      <div class="preview__image js__profile-image"></div>
      <div class="preview__links">
        <a
          href="#"
          class="preview__links--social js-preview-phone js-border"
          title="Phone"
          target="_self"
          ><i class="fas fa-mobile-alt preview__links--icon js-icons"></i>
        </a>
        <a
          href="#"
          class="preview__links--social js-preview-email js-border"
          title="Email"
          target="_self"
          ><i class="far fa-envelope preview__links--icon js-icons"></i>
        </a>
        <a
          href="#"
          class="preview__links--social js-preview-linkedin js-border"
          title="Linkedin"
          target="_self"
          ><i class="fab fa-linkedin-in preview__links--icon js-icons"></i>
        </a>
        <a
          href="#"
          class="preview__links--social js-preview-github js-border"
          title="GitHub"
          target="_self"
          ><i class="fab fa-github-alt preview__links--icon js-icons"></i>
        </a>
      </div>
    </div>
  </div>
</section>